.review {
    width: 300px;
    height: 380px;
    background-color: rgb(157, 216, 218);
    border-radius: 8px;
    position: relative;
}

.review img {
    width: 210px;
    height: 210px;
    border-radius: 150px;
    margin: 7px;
}

.reviewer-name {
    color: red;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-top: 7px;
}

.message {
    font-size: 14px;
    font-weight: 500;
}

.details {
    margin: 10px 14px;
}

.details p {
    margin-top: 5px;
    margin-bottom: 0;
}

.rating {
    font-weight: 500;
    color: orangered;
}

.star-icon {
    margin-left: 10px;
    color: orangered;
}

@media only screen and (max-width: 600px) {
    .review {
        margin-top: 20px;
    }

}