.container {
    padding: 20px 30px;
}

.home-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5px;
}

.home-title {
    padding: 10px;
    margin: 25px 15px 0px 15px;
}

.home-title h1 {
    color: crimson;
}

.home-title h2 {
    color: cadetblue;
}

.see-all-btn {
    margin-top: 30px;
    margin-bottom: 10px;
}

.demo-btn,
.see-all-btn {
    border: none;
    border-radius: 5px;
    background-color: orange;
    padding: 7px 12px;
    color: white;
    cursor: pointer;
}

.home-img img {
    height: 350px;
    border: none;
    border-radius: 150px;
    width: 100%;
}

.review-title {
    color: crimson;
}

.review-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}