.container {
    padding: 20px;
}

.home-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.home-title h1 {
    color: crimson;
}

.home-title h2 {
    color: cadetblue;
}

.demo-btn,
.see-all-btn {
    border: none;
    border-radius: 5px;
    background-color: orange;
    margin: 5px;
    padding: 7px 10px;
    color: white;
}

.home-img img {
    border: none;
    border-radius: 200px;
    width: 100%;
}