.chart-container {
    margin: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-container h3 {
    font-weight: 600;
    color: blue;
}

@media only screen and (max-width: 600px) {
    .chart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}